body {
	font-family: Arial Rounded MT Bold;
	background: #ffa;
	color: darkred;
}
p {font-size: 20px;
	margin-top: 2px;
	margin-bottom: 10px;}
h2 {
	margin-top: 10px;
	margin-bottom: 2px;
}
button {
	color: darkgreen;
	font-weight: bold;
	background: #eff;
	font-size: 20px;
}
